In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/water_cleaned.txt", delimiter="\t")

In [3]:
data

,metabolite,uloq,lloq,value,date,time_pretty,location,below_lloq,above_uloq,extraction,machine
0,6-MAM,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu
1,7-Aminoclonazepam,5.0,0.05,0.134,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
2,7-Aminoflunitrazepam,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu
3,α-Hydroxyalprazolam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu
4,α-Hydroxytriazolam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu
...,...,...,...,...,...,...,...,...,...,...,...
5539,Temazepam,20.0,0.05,NaN,FB08SEP18,11:30,3,NaN,NaN,zach,waters
5540,Tramadol,20.0,0.05,0.980,FB08SEP18,11:30,3,0.0,0.0,zach,waters
5541,Trazodone,20.0,0.50,0.090,FB08SEP18,11:30,3,1.0,0.0,zach,waters
5542,Triazolam,20.0,0.50,NaN,FB08SEP18,11:30,3,NaN,NaN,zach,waters
5543,Zolpidem,20.0,0.50,NaN,FB08SEP18,11:30,3,NaN,NaN,zach,waters

In [6]:
data[pd.notnull(data.value)]

1       7-Aminoclonazepam
6             Amphetamine
7         Benzoylecgonine
20            Hydrocodone
38         Norhydrocodone
              ...
5528         Noroxycodone
5534          Phentermine
5536      Pseudoephedrine
5540             Tramadol
5541            Trazodone
Name: metabolite, Length: 856, dtype: object

## Venn Diagram Information

In [8]:
metabolites_set = set(data[pd.notnull(data.value)].metabolite)

In [9]:
metabolites_set

{'7-Aminoclonazepam',
 'Amphetamine',
 'Benzoylecgonine',
 'Cocaine',
 'Codeine',
 'Cyclobenzaprine',
 'EDDP',
 'Hydrocodone',
 'Hydromorphone',
 'Ketamine',
 'MDMA',
 'Meprobamate',
 'Methadone',
 'Methamphetamine',
 'Methylphenidate',
 'Morphine',
 'Norbuprenorphine',
 'Norhydrocodone',
 'Noroxycodone',
 'O-Desmethyltramadol',
 'Oxazepam',
 'Oxycodone',
 'Oxymorphone',
 'Phentermine',
 'Pseudoephedrine',
 'Tapentadol',
 'Temazepam',
 'Tramadol',
 'Trazodone'}

In [11]:
data[(pd.notnull(data.value)) & (data.machine == "shimadzu")]

,metabolite,uloq,lloq,value,date,time_pretty,location,below_lloq,above_uloq,extraction,machine
1,7-Aminoclonazepam,5.0,0.05,0.134,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
6,Amphetamine,5.0,0.05,0.322,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
7,Benzoylecgonine,20.0,0.05,1.307,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
20,Hydrocodone,2.5,0.05,0.368,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
38,Norhydrocodone,5.0,0.05,0.231,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
...,...,...,...,...,...,...,...,...,...,...,...
5382,Amphetamine,5.0,0.05,0.484,FB08SEP18,11:30,3,0.0,0.0,austin,shimadzu
5383,Benzoylecgonine,20.0,0.05,0.349,FB08SEP18,11:30,3,0.0,0.0,austin,shimadzu
5416,Noroxycodone,5.0,0.05,0.292,FB08SEP18,11:30,3,0.0,0.0,austin,shimadzu
5419,Oxycodone,20.0,0.05,0.356,FB08SEP18,11:30,3,0.0,0.0,austin,shimadzu
5428,Tramadol,20.0,0.05,1.454,FB08SEP18,11:30,3,0.0,0.0,austin,shimadzu

In [12]:
shimadzu_set = set(data[(pd.notnull(data.value)) & (data.machine == "shimadzu")].metabolite)

In [15]:
len(metabolites_set)

29

In [14]:
len(shimadzu_set)

22

In [16]:
waters_set = set(data[(pd.notnull(data.value)) & (data.machine == "waters")].metabolite)

In [18]:
len(waters_set)

29

In [19]:
def add_replicate_id(row):
    if row["extraction"] == "zach":
        return 2
    return 1

In [20]:
data['replicate_id'] = data.apply(lambda row: add_replicate_id(row),axis=1)

In [22]:
data

,metabolite,uloq,lloq,value,date,time_pretty,location,below_lloq,above_uloq,extraction,machine,replicate_id
0,6-MAM,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu,1
1,7-Aminoclonazepam,5.0,0.05,0.134,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu,1
2,7-Aminoflunitrazepam,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu,1
3,α-Hydroxyalprazolam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu,1
4,α-Hydroxytriazolam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5539,Temazepam,20.0,0.05,NaN,FB08SEP18,11:30,3,NaN,NaN,zach,waters,2
5540,Tramadol,20.0,0.05,0.980,FB08SEP18,11:30,3,0.0,0.0,zach,waters,2
5541,Trazodone,20.0,0.50,0.090,FB08SEP18,11:30,3,1.0,0.0,zach,waters,2
5542,Triazolam,20.0,0.50,NaN,FB08SEP18,11:30,3,NaN,NaN,zach,waters,2
5543,Zolpidem,20.0,0.50,NaN,FB08SEP18,11:30,3,NaN,NaN,zach,waters,2

In [25]:
waters_set_1 = set(data[(pd.notnull(data.value)) & (data.machine == "waters") & (data.replicate_id == 1)].metabolite)

In [29]:
len(waters_set_1)

28

In [27]:
waters_set_2 = set(data[(pd.notnull(data.value)) & (data.machine == "waters") & (data.replicate_id == 2)].metabolite)

In [30]:
len(waters_set_2)

26

In [32]:
len(shimadzu_set)

22

In [35]:
len(waters_set_1.intersection(waters_set_2))

25

In [36]:
shimadzu_set

{'7-Aminoclonazepam',
 'Amphetamine',
 'Benzoylecgonine',
 'Codeine',
 'EDDP',
 'Hydrocodone',
 'Hydromorphone',
 'Ketamine',
 'MDMA',
 'Meprobamate',
 'Methadone',
 'Methamphetamine',
 'Morphine',
 'Norbuprenorphine',
 'Norhydrocodone',
 'Noroxycodone',
 'Oxazepam',
 'Oxycodone',
 'Oxymorphone',
 'Tapentadol',
 'Temazepam',
 'Tramadol'}

In [38]:
waters_set_1

{'7-Aminoclonazepam',
 'Amphetamine',
 'Benzoylecgonine',
 'Cocaine',
 'Codeine',
 'Cyclobenzaprine',
 'EDDP',
 'Hydrocodone',
 'Hydromorphone',
 'Ketamine',
 'MDMA',
 'Methadone',
 'Methamphetamine',
 'Methylphenidate',
 'Morphine',
 'Norbuprenorphine',
 'Norhydrocodone',
 'Noroxycodone',
 'O-Desmethyltramadol',
 'Oxazepam',
 'Oxycodone',
 'Oxymorphone',
 'Phentermine',
 'Pseudoephedrine',
 'Tapentadol',
 'Temazepam',
 'Tramadol',
 'Trazodone'}

In [37]:
waters_set_2

{'7-Aminoclonazepam',
 'Amphetamine',
 'Benzoylecgonine',
 'Cocaine',
 'Codeine',
 'Cyclobenzaprine',
 'EDDP',
 'Hydrocodone',
 'Ketamine',
 'MDMA',
 'Meprobamate',
 'Methadone',
 'Methamphetamine',
 'Methylphenidate',
 'Morphine',
 'Norhydrocodone',
 'Noroxycodone',
 'O-Desmethyltramadol',
 'Oxycodone',
 'Oxymorphone',
 'Phentermine',
 'Pseudoephedrine',
 'Tapentadol',
 'Temazepam',
 'Tramadol',
 'Trazodone'}

## Dataframe Transformation for Missing Data Plot