In [55]:
import pandas as pd

In [56]:
data = pd.read_csv("../data/water_cleaned.txt", delimiter="\t")

In [57]:
data

,metabolite,uloq,lloq,value,date,time_pretty,location,below_lloq,above_uloq,extraction,machine
0,6-MAM,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu
1,7-Aminoclonazepam,5.0,0.05,0.134,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
2,7-Aminoflunitrazepam,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu
3,α-Hydroxyalprazolam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu
4,α-Hydroxytriazolam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu
...,...,...,...,...,...,...,...,...,...,...,...
5539,Temazepam,20.0,0.05,NaN,FB08SEP18,11:30,3,NaN,NaN,zach,waters
5540,Tramadol,20.0,0.05,0.980,FB08SEP18,11:30,3,0.0,0.0,zach,waters
5541,Trazodone,20.0,0.50,0.090,FB08SEP18,11:30,3,1.0,0.0,zach,waters
5542,Triazolam,20.0,0.50,NaN,FB08SEP18,11:30,3,NaN,NaN,zach,waters
5543,Zolpidem,20.0,0.50,NaN,FB08SEP18,11:30,3,NaN,NaN,zach,waters

In [58]:
data[pd.notnull(data.value)]

,metabolite,uloq,lloq,value,date,time_pretty,location,below_lloq,above_uloq,extraction,machine
1,7-Aminoclonazepam,5.0,0.05,0.134,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
6,Amphetamine,5.0,0.05,0.322,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
7,Benzoylecgonine,20.0,0.05,1.307,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
20,Hydrocodone,2.5,0.05,0.368,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
38,Norhydrocodone,5.0,0.05,0.231,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
...,...,...,...,...,...,...,...,...,...,...,...
5528,Noroxycodone,5.0,0.05,0.300,FB08SEP18,11:30,3,0.0,0.0,zach,waters
5534,Phentermine,5.0,0.05,1.240,FB08SEP18,11:30,3,0.0,0.0,zach,waters
5536,Pseudoephedrine,20.0,0.05,7.330,FB08SEP18,11:30,3,0.0,1.0,zach,waters
5540,Tramadol,20.0,0.05,0.980,FB08SEP18,11:30,3,0.0,0.0,zach,waters
5541,Trazodone,20.0,0.50,0.090,FB08SEP18,11:30,3,1.0,0.0,zach,waters

## Venn Diagram Information

In [59]:
top_set = {'Oxycodone', 'Norhydrocodone', 'Hydrocodone', 'Noroxycodone', 'Phentermine', 
           'Cocaine', 'Benzoylecgonine', 'Amphetamine', 'Tramadol', 'Pseudoephedrine'}

In [60]:
metabolites_set = set(data[pd.notnull(data.value)].metabolite)

In [61]:
# All detected analytes
metabolites_set

{'7-Aminoclonazepam',
 'Amphetamine',
 'Benzoylecgonine',
 'Cocaine',
 'Codeine',
 'Cyclobenzaprine',
 'EDDP',
 'Hydrocodone',
 'Hydromorphone',
 'Ketamine',
 'MDMA',
 'Meprobamate',
 'Methadone',
 'Methamphetamine',
 'Methylphenidate',
 'Morphine',
 'Norbuprenorphine',
 'Norhydrocodone',
 'Noroxycodone',
 'O-Desmethyltramadol',
 'Oxazepam',
 'Oxycodone',
 'Oxymorphone',
 'Phentermine',
 'Pseudoephedrine',
 'Tapentadol',
 'Temazepam',
 'Tramadol',
 'Trazodone'}

In [62]:
data[(pd.notnull(data.value)) & (data.machine == "shimadzu")]

,metabolite,uloq,lloq,value,date,time_pretty,location,below_lloq,above_uloq,extraction,machine
1,7-Aminoclonazepam,5.0,0.05,0.134,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
6,Amphetamine,5.0,0.05,0.322,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
7,Benzoylecgonine,20.0,0.05,1.307,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
20,Hydrocodone,2.5,0.05,0.368,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
38,Norhydrocodone,5.0,0.05,0.231,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
...,...,...,...,...,...,...,...,...,...,...,...
5382,Amphetamine,5.0,0.05,0.484,FB08SEP18,11:30,3,0.0,0.0,austin,shimadzu
5383,Benzoylecgonine,20.0,0.05,0.349,FB08SEP18,11:30,3,0.0,0.0,austin,shimadzu
5416,Noroxycodone,5.0,0.05,0.292,FB08SEP18,11:30,3,0.0,0.0,austin,shimadzu
5419,Oxycodone,20.0,0.05,0.356,FB08SEP18,11:30,3,0.0,0.0,austin,shimadzu
5428,Tramadol,20.0,0.05,1.454,FB08SEP18,11:30,3,0.0,0.0,austin,shimadzu

In [63]:
# Analytes detected by shimadzu
shimadzu_set = set(data[(pd.notnull(data.value)) & (data.machine == "shimadzu")].metabolite)

In [64]:
len(metabolites_set)

29

In [65]:
len(shimadzu_set)

22

In [66]:
# Analytes detected by waters
waters_set = set(data[(pd.notnull(data.value)) & (data.machine == "waters")].metabolite)

In [67]:
len(waters_set)

29

In [68]:
def add_replicate_id(row):
    if row["extraction"] == "zach":
        return 2
    return 1

In [69]:
data['replicate_id'] = data.apply(lambda row: add_replicate_id(row),axis=1)

In [70]:
data

,metabolite,uloq,lloq,value,date,time_pretty,location,below_lloq,above_uloq,extraction,machine,replicate_id
0,6-MAM,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu,1
1,7-Aminoclonazepam,5.0,0.05,0.134,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu,1
2,7-Aminoflunitrazepam,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu,1
3,α-Hydroxyalprazolam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu,1
4,α-Hydroxytriazolam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5539,Temazepam,20.0,0.05,NaN,FB08SEP18,11:30,3,NaN,NaN,zach,waters,2
5540,Tramadol,20.0,0.05,0.980,FB08SEP18,11:30,3,0.0,0.0,zach,waters,2
5541,Trazodone,20.0,0.50,0.090,FB08SEP18,11:30,3,1.0,0.0,zach,waters,2
5542,Triazolam,20.0,0.50,NaN,FB08SEP18,11:30,3,NaN,NaN,zach,waters,2
5543,Zolpidem,20.0,0.50,NaN,FB08SEP18,11:30,3,NaN,NaN,zach,waters,2

In [71]:
# Analytes detected by the first waters
waters_set_1 = set(data[(pd.notnull(data.value)) & (data.machine == "waters") & (data.replicate_id == 1)].metabolite)

In [72]:
len(waters_set_1)

28

In [73]:
# Analytes dtected by the second waters
waters_set_2 = set(data[(pd.notnull(data.value)) & (data.machine == "waters") & (data.replicate_id == 2)].metabolite)

In [74]:
len(waters_set_2)

26

In [75]:
len(shimadzu_set)

22

In [76]:
len(waters_set_1.intersection(waters_set_2))

25

#### Display analytes detected by shimadzu

In [77]:
shimadzu_set

{'7-Aminoclonazepam',
 'Amphetamine',
 'Benzoylecgonine',
 'Codeine',
 'EDDP',
 'Hydrocodone',
 'Hydromorphone',
 'Ketamine',
 'MDMA',
 'Meprobamate',
 'Methadone',
 'Methamphetamine',
 'Morphine',
 'Norbuprenorphine',
 'Norhydrocodone',
 'Noroxycodone',
 'Oxazepam',
 'Oxycodone',
 'Oxymorphone',
 'Tapentadol',
 'Temazepam',
 'Tramadol'}

In [78]:
shimadzu_set.intersection(top_set)

{'Amphetamine',
 'Benzoylecgonine',
 'Hydrocodone',
 'Norhydrocodone',
 'Noroxycodone',
 'Oxycodone',
 'Tramadol'}

#### Display analytes detected by the first waters instrument

In [79]:
waters_set_1

{'7-Aminoclonazepam',
 'Amphetamine',
 'Benzoylecgonine',
 'Cocaine',
 'Codeine',
 'Cyclobenzaprine',
 'EDDP',
 'Hydrocodone',
 'Hydromorphone',
 'Ketamine',
 'MDMA',
 'Methadone',
 'Methamphetamine',
 'Methylphenidate',
 'Morphine',
 'Norbuprenorphine',
 'Norhydrocodone',
 'Noroxycodone',
 'O-Desmethyltramadol',
 'Oxazepam',
 'Oxycodone',
 'Oxymorphone',
 'Phentermine',
 'Pseudoephedrine',
 'Tapentadol',
 'Temazepam',
 'Tramadol',
 'Trazodone'}

In [80]:
waters_set_1.intersection(top_set)

{'Amphetamine',
 'Benzoylecgonine',
 'Cocaine',
 'Hydrocodone',
 'Norhydrocodone',
 'Noroxycodone',
 'Oxycodone',
 'Phentermine',
 'Pseudoephedrine',
 'Tramadol'}

#### Display analytes detected by the second waters machine

In [37]:
waters_set_2

{'7-Aminoclonazepam',
 'Amphetamine',
 'Benzoylecgonine',
 'Cocaine',
 'Codeine',
 'Cyclobenzaprine',
 'EDDP',
 'Hydrocodone',
 'Ketamine',
 'MDMA',
 'Meprobamate',
 'Methadone',
 'Methamphetamine',
 'Methylphenidate',
 'Morphine',
 'Norhydrocodone',
 'Noroxycodone',
 'O-Desmethyltramadol',
 'Oxycodone',
 'Oxymorphone',
 'Phentermine',
 'Pseudoephedrine',
 'Tapentadol',
 'Temazepam',
 'Tramadol',
 'Trazodone'}

In [81]:
waters_set_2.intersection(top_set)

{'Amphetamine',
 'Benzoylecgonine',
 'Cocaine',
 'Hydrocodone',
 'Norhydrocodone',
 'Noroxycodone',
 'Oxycodone',
 'Phentermine',
 'Pseudoephedrine',
 'Tramadol'}

###### Venn diagram creation: http://bioinformatics.psb.ugent.be/webtools/Venn/

## Analytes Grouping

#### Add metabolite group

In [3]:
data.head()

,metabolite,uloq,lloq,value,date,time_pretty,location,below_lloq,above_uloq,extraction,machine
0,6-MAM,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu
1,7-Aminoclonazepam,5.0,0.05,0.134,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
2,7-Aminoflunitrazepam,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu
3,α-Hydroxyalprazolam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu
4,α-Hydroxytriazolam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu

In [4]:
grouping_info = pd.read_csv("../data/drug_class.csv")

In [5]:
grouping_info.head()

           drug       group
0  Propoxyphene   Analgesic
1      Ketamine  Anesthetic
2           PCP  Anesthetic
3   Phentermine   Anorectic
4   Meprobamate  Anxiolytic

In [6]:
len(set(grouping_info.group))

12

In [7]:
def add_group(row):
#    print(grouping_info[grouping_info.drug==row.metabolite].group.iloc[0])
    return grouping_info[grouping_info.drug==row.metabolite].group.iloc[0]

In [8]:
data["metabolite_group"] = data.apply(lambda row: add_group(row),axis=1)

In [9]:
data["machine"] = (["Shimadzu"] * 56 + ["Waters_SPE1"] * 56 + ["Waters_SPE2"] * 56) * 33

In [10]:
data.head()

,metabolite,uloq,lloq,value,date,time_pretty,location,below_lloq,above_uloq,extraction,machine,metabolite_group
0,6-MAM,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,Shimadzu,Narcotic
1,7-Aminoclonazepam,5.0,0.05,0.134,FB08SEP18,6:30,1,0.0,0.0,austin,Shimadzu,Benzodiazepine
2,7-Aminoflunitrazepam,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,Shimadzu,Benzodiazepine
3,α-Hydroxyalprazolam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,Shimadzu,Benzodiazepine
4,α-Hydroxytriazolam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,Shimadzu,Benzodiazepine

In [13]:
data.sort_values(by=["machine", "time_pretty", "location", "metabolite_group"], inplace=True)

In [14]:
data.to_csv("../data/water_cleaned_group_sorted.txt", index=False, sep="\t")

#### Spread data

In [16]:
data_spread = data[["metabolite", "machine", "value"]]

In [18]:
data_spread.head()

        metabolite   machine  value
3575  Propoxyphene  Shimadzu    NaN
3550      Ketamine  Shimadzu    NaN
3573           PCP  Shimadzu    NaN
3574   Phentermine  Shimadzu    NaN
3554   Meprobamate  Shimadzu    NaN

In [22]:
data_spread.reset_index(drop=True, inplace=True)

In [23]:
data_spread

           metabolite      machine  value
0        Propoxyphene     Shimadzu    NaN
1            Ketamine     Shimadzu    NaN
2                 PCP     Shimadzu    NaN
3         Phentermine     Shimadzu    NaN
4         Meprobamate     Shimadzu    NaN
...               ...          ...    ...
5539  Benzoylecgonine  Waters_SPE2   3.71
5540          Cocaine  Waters_SPE2   2.18
5541             MDMA  Waters_SPE2    NaN
5542  Methamphetamine  Waters_SPE2    NaN
5543  Methylphenidate  Waters_SPE2    NaN

[5544 rows x 3 columns]

In [28]:
col_order = data_spread.metabolite[0:56]

In [35]:
data_spread.pivot(columns="metabolite", values="value")[col_order].iloc[0:10]

metabolite,Propoxyphene,Ketamine,PCP,Phentermine,Meprobamate,7-Aminoclonazepam,7-Aminoflunitrazepam,α-Hydroxyalprazolam,α-Hydroxytriazolam,Alprazolam,...,Naltrexone,Trazodone,Triazolam,Zolpidem,Amphetamine,Benzoylecgonine,Cocaine,MDMA,Methamphetamine,Methylphenidate
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Use mettabolite group instead of metabolite and deduplicate

In [ ]:
data = pd.read_csv("../data/water_cleaned.txt", delimiter="\t")

In [82]:
data['metabolite'] = data.apply(lambda row: add_group(row),axis=1)

In [130]:
data.head()

,metabolite,uloq,lloq,value,date,time_pretty,location,below_lloq,above_uloq,extraction,machine
0,Metabolite of a Narcotic,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,Shimadzu
1,Benzodiazepine,5.0,0.05,0.134,FB08SEP18,6:30,1,0.0,0.0,austin,Shimadzu
2,Benzodiazepine,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,Shimadzu
3,Metabolite of Benzodiazepam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,Shimadzu
4,Metabolite of Benzodiazepam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,Shimadzu

Algorithm: 
-   Create dataframe A by selecting rows with non-missing value in "value" column, then drop duplicates with columns of "metabolite", "time_pretty", "machine" and "location"; 
-   Create dataframe B by selecting rows with missing value in "value" column, then drop duplicates with columns of "metabolite", "time_pretty", "machine" and "location";
-   Append B to A, then then drop duplicates with columns of "metabolite", "time_pretty", "machine" and "location", keep the first duplicated row.

In [134]:
data_with_value = data[data.value.notnull()]

In [135]:
data_with_value.shape

(856, 11)

In [136]:
data_with_value.drop_duplicates(subset=["metabolite", "time_pretty", "machine", "location"], inplace=True)

/Users/xinsongdu/.pyenv/versions/miniconda3-latest/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [137]:
data_with_value.shape

(692, 11)

In [138]:
data_no_value = data[data.value.isnull()]

In [139]:
data_no_value.shape

(4688, 11)

In [140]:
data_no_value.drop_duplicates(subset=["metabolite", "time_pretty", "machine", "location"], inplace=True)

/Users/xinsongdu/.pyenv/versions/miniconda3-latest/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [141]:
data_no_value.shape

(1949, 11)

In [142]:
data_modified = data_with_value.append(data_no_value)

In [147]:
data_modified.head()

,metabolite,uloq,lloq,value,date,time_pretty,location,below_lloq,above_uloq,extraction,machine
1,Benzodiazepine,5.0,0.05,0.134,FB08SEP18,6:30,1,0.0,0.0,austin,Shimadzu
6,Stimulant,5.0,0.05,0.322,FB08SEP18,6:30,1,0.0,0.0,austin,Shimadzu
7,Metabolite of CNS stimulant,20.0,0.05,1.307,FB08SEP18,6:30,1,0.0,0.0,austin,Shimadzu
20,Opioid,2.5,0.05,0.368,FB08SEP18,6:30,1,0.0,0.0,austin,Shimadzu
38,Metabolite of opioid,5.0,0.05,0.231,FB08SEP18,6:30,1,0.0,0.0,austin,Shimadzu

In [144]:
data_grouped = data_modified.drop_duplicates(subset=["metabolite", "time_pretty", "machine", "location"], keep="first")

In [145]:
data_grouped.shape

(2277, 11)

In [150]:
data_grouped.sort_values(by=["time_pretty", "machine", "location", "metabolite"], inplace=True)

/Users/xinsongdu/.pyenv/versions/miniconda3-latest/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [151]:
data_grouped.to_csv("../data/water_cleaned_grouped.txt", index=False, sep="\t")

## Stacked Bar Plot

In [3]:
import numpy as np
import matplotlib
%matplotlib inline

In [4]:
matplotlib.use('agg')
import matplotlib.pyplot as plt

In [5]:
data_missing_pattern = pd.read_csv("../data/metabolites_missing_pattern.csv")

In [11]:
data_missing_pattern.head()

,Propoxyphene,Ketamine,PCP,Phentermine,Meprobamate,7-Aminoclonazepam,7-Aminoflunitrazepam,α-Hydroxyalprazolam,α-Hydroxytriazolam,Alprazolam,...,Trazodone,Triazolam,Zolpidem,Amphetamine,Benzoylecgonine,Cocaine,MDMA,Methamphetamine,Methylphenidate,machine
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,Shimadzu
1,0,1,0,0,1,0,0,0,0,0,...,0,0,0,1,1,0,1,0,0,Shimadzu
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,Shimadzu
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,Shimadzu
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,1,0,0,Shimadzu

#### remove columns with all 0 values

In [13]:
data_missing_pattern = data_missing_pattern.loc[:, (data_missing_pattern != 0).any(axis=0)]

In [14]:
data_missing_pattern.head()

,Ketamine,Phentermine,Meprobamate,7-Aminoclonazepam,Oxazepam,Temazepam,Pseudoephedrine,Cyclobenzaprine,Codeine,EDDP,...,Hydromorphone,Methadone,Trazodone,Amphetamine,Benzoylecgonine,Cocaine,MDMA,Methamphetamine,Methylphenidate,machine
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,Shimadzu
1,1,0,1,0,0,1,0,0,0,0,...,0,0,0,1,1,0,1,0,0,Shimadzu
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,Shimadzu
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,Shimadzu
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,1,0,1,0,0,Shimadzu

#### order by group

In [82]:
analytes = data_missing_pattern.columns

In [83]:
analytes = list(analytes)

In [84]:
analytes.pop()

'machine'

In [85]:
data_analytes = data_missing_pattern

#### order by sum

In [90]:
data_analytes = data_missing_pattern[analytes]

In [91]:
data_analytes.loc[-1] = data_analytes.sum()

/Users/xinsongdu/.pyenv/versions/miniconda3-latest/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [92]:
data_analytes.sort_values(by=-1, axis=1, inplace=True)

/Users/xinsongdu/.pyenv/versions/miniconda3-latest/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [93]:
data_analytes.drop(data_analytes.tail(1).index,inplace=True)

/Users/xinsongdu/.pyenv/versions/miniconda3-latest/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [94]:
data_analytes["machine"] = data_missing_pattern["machine"]

In [95]:
analytes = list(data_analytes.columns)

In [96]:
analytes.pop()

'machine'

#### make figure

In [97]:
shimadzu = list(data_analytes[data_analytes.machine == "Shimadzu"][analytes].sum()/99)
waters_spe1 = list(data_analytes[data_analytes.machine == "Waters_SPE1"][analytes].sum()/99)
waters_spe2 = list(data_analytes[data_analytes.machine == "Waters_SPE2"][analytes].sum()/99)

In [98]:
shimadzu_txt = [str(round(x, 2)) for x in shimadzu]
waters_spe1_txt = [str(round(x, 2)) for x in waters_spe1]
waters_spe2_txt = [str(round(x, 2)) for x in waters_spe2]

In [99]:
colors = ['#FF9999', '#00BFFF','#C1FFC1','#CAE1FF','#FFDEAD']

In [100]:
r = range(len(analytes))

In [22]:
# Vertical

barWidth = 1
#plot bars
plt.figure(figsize=(20,10))
plt.bar(r, shimadzu, color=colors[0], edgecolor='white', width=barWidth, label="Shimadzu")
plt.bar(r, waters_spe1, bottom=np.array(shimadzu), color=colors[1], edgecolor='white', width=barWidth, label='Waters_SPE1')
plt.bar(r, waters_spe2, bottom=np.array(shimadzu)+np.array(waters_spe1), color=colors[2], edgecolor='white', width=barWidth, label='Waters_SPE2')
plt.legend()# Custom X axis
plt.xticks(r, analytes, fontweight='bold')
plt.ylabel("sales")
plt.savefig("stacked_vertical.png")
# plt.show()

In [103]:
# Horizontal Sorted

font = {'family' : 'Tahoma',
        'weight' : 'bold',
        'size'   : 25}

matplotlib.rc('font', **font)

barHeight = 1
#plot bars
plt.figure(figsize=(30,40))
plt.barh(r, shimadzu, color=colors[0], edgecolor='white', height=barHeight, label="Shimadzu")
plt.barh(r, waters_spe1, left=np.array(shimadzu), color=colors[1], edgecolor='white', height=barHeight, label='Waters_SPE1')
plt.barh(r, waters_spe2, left=np.array(shimadzu)+np.array(waters_spe1), color=colors[2], edgecolor='white', height=barHeight, label='Waters_SPE2')
plt.legend()# Custom X axis
plt.yticks(r, analytes, fontweight='bold')
plt.xlim(0, 1.2)
plt.xlabel("sales")
plt.ylim(-1, 31)
plt.grid()
for i in range(data_analytes.shape[1]-1):
    plt.text(1.01, i-0.25, shimadzu_txt[i] + "/" + waters_spe1_txt[i] + "/" + waters_spe2_txt[i])
# plt.text(1.05,55,"hello")
plt.savefig("../figs/stacked_horizontal_sorted.png", bbox_inches="tight")
plt.show()

/Users/xinsongdu/.pyenv/versions/miniconda3-latest/lib/python3.7/site-packages/ipykernel_launcher.py:25: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.

In [51]:
r = [1, 3, 5, 7, 8, 9, 11, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 31, 33, 34, 35, 36, 37, 38]

In [89]:
# Horizontal Grouped

font = {'family' : 'Tahoma',
        'weight' : 'bold',
        'size'   : 25}

matplotlib.rc('font', **font)

barHeight = 1
#plot bars
plt.figure(figsize=(30,40))
plt.barh(r, shimadzu, color=colors[0], edgecolor='white', height=barHeight, label="Shimadzu")
plt.barh(r, waters_spe1, left=np.array(shimadzu), color=colors[1], edgecolor='white', height=barHeight, label='Waters_SPE1')
plt.barh(r, waters_spe2, left=np.array(shimadzu)+np.array(waters_spe1), color=colors[2], edgecolor='white', height=barHeight, label='Waters_SPE2')
plt.legend()# Custom X axis
plt.yticks(r, analytes, fontweight='bold')
plt.xlim(0, 1.2)
plt.xlabel("sales")
plt.ylim(-1, 41)
plt.grid()
for i, y in enumerate(r):
    plt.text(1.01, y-0.25, shimadzu_txt[i] + "/" + waters_spe1_txt[i] + "/" + waters_spe2_txt[i])
# plt.text(1.05,55,"hello")
plt.savefig("../figs/stacked_horizontal_grouped.png", bbox_inches="tight")
plt.show()

/Users/xinsongdu/.pyenv/versions/miniconda3-latest/lib/python3.7/site-packages/ipykernel_launcher.py:25: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.