In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/water_cleaned.txt", delimiter="\t")

In [3]:
data

,metabolite,uloq,lloq,value,date,time_pretty,location,below_lloq,above_uloq,extraction,machine
0,6-MAM,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu
1,7-Aminoclonazepam,5.0,0.05,0.134,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
2,7-Aminoflunitrazepam,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu
3,α-Hydroxyalprazolam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu
4,α-Hydroxytriazolam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu
...,...,...,...,...,...,...,...,...,...,...,...
5539,Temazepam,20.0,0.05,NaN,FB08SEP18,11:30,3,NaN,NaN,zach,waters
5540,Tramadol,20.0,0.05,0.980,FB08SEP18,11:30,3,0.0,0.0,zach,waters
5541,Trazodone,20.0,0.50,0.090,FB08SEP18,11:30,3,1.0,0.0,zach,waters
5542,Triazolam,20.0,0.50,NaN,FB08SEP18,11:30,3,NaN,NaN,zach,waters
5543,Zolpidem,20.0,0.50,NaN,FB08SEP18,11:30,3,NaN,NaN,zach,waters

In [4]:
data[pd.notnull(data.value)]

,metabolite,uloq,lloq,value,date,time_pretty,location,below_lloq,above_uloq,extraction,machine
1,7-Aminoclonazepam,5.0,0.05,0.134,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
6,Amphetamine,5.0,0.05,0.322,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
7,Benzoylecgonine,20.0,0.05,1.307,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
20,Hydrocodone,2.5,0.05,0.368,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
38,Norhydrocodone,5.0,0.05,0.231,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
...,...,...,...,...,...,...,...,...,...,...,...
5528,Noroxycodone,5.0,0.05,0.300,FB08SEP18,11:30,3,0.0,0.0,zach,waters
5534,Phentermine,5.0,0.05,1.240,FB08SEP18,11:30,3,0.0,0.0,zach,waters
5536,Pseudoephedrine,20.0,0.05,7.330,FB08SEP18,11:30,3,0.0,1.0,zach,waters
5540,Tramadol,20.0,0.05,0.980,FB08SEP18,11:30,3,0.0,0.0,zach,waters
5541,Trazodone,20.0,0.50,0.090,FB08SEP18,11:30,3,1.0,0.0,zach,waters

## Venn Diagram Information

In [5]:
metabolites_set = set(data[pd.notnull(data.value)].metabolite)

In [6]:
# All detected analytes
metabolites_set

{'7-Aminoclonazepam',
 'Amphetamine',
 'Benzoylecgonine',
 'Cocaine',
 'Codeine',
 'Cyclobenzaprine',
 'EDDP',
 'Hydrocodone',
 'Hydromorphone',
 'Ketamine',
 'MDMA',
 'Meprobamate',
 'Methadone',
 'Methamphetamine',
 'Methylphenidate',
 'Morphine',
 'Norbuprenorphine',
 'Norhydrocodone',
 'Noroxycodone',
 'O-Desmethyltramadol',
 'Oxazepam',
 'Oxycodone',
 'Oxymorphone',
 'Phentermine',
 'Pseudoephedrine',
 'Tapentadol',
 'Temazepam',
 'Tramadol',
 'Trazodone'}

In [11]:
data[(pd.notnull(data.value)) & (data.machine == "shimadzu")]

,metabolite,uloq,lloq,value,date,time_pretty,location,below_lloq,above_uloq,extraction,machine
1,7-Aminoclonazepam,5.0,0.05,0.134,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
6,Amphetamine,5.0,0.05,0.322,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
7,Benzoylecgonine,20.0,0.05,1.307,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
20,Hydrocodone,2.5,0.05,0.368,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
38,Norhydrocodone,5.0,0.05,0.231,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
...,...,...,...,...,...,...,...,...,...,...,...
5382,Amphetamine,5.0,0.05,0.484,FB08SEP18,11:30,3,0.0,0.0,austin,shimadzu
5383,Benzoylecgonine,20.0,0.05,0.349,FB08SEP18,11:30,3,0.0,0.0,austin,shimadzu
5416,Noroxycodone,5.0,0.05,0.292,FB08SEP18,11:30,3,0.0,0.0,austin,shimadzu
5419,Oxycodone,20.0,0.05,0.356,FB08SEP18,11:30,3,0.0,0.0,austin,shimadzu
5428,Tramadol,20.0,0.05,1.454,FB08SEP18,11:30,3,0.0,0.0,austin,shimadzu

In [12]:
# Analytes detected by shimadzu
shimadzu_set = set(data[(pd.notnull(data.value)) & (data.machine == "shimadzu")].metabolite)

In [15]:
len(metabolites_set)

29

In [14]:
len(shimadzu_set)

22

In [16]:
# Analytes detected by waters
waters_set = set(data[(pd.notnull(data.value)) & (data.machine == "waters")].metabolite)

In [18]:
len(waters_set)

29

In [19]:
def add_replicate_id(row):
    if row["extraction"] == "zach":
        return 2
    return 1

In [20]:
data['replicate_id'] = data.apply(lambda row: add_replicate_id(row),axis=1)

In [22]:
data

,metabolite,uloq,lloq,value,date,time_pretty,location,below_lloq,above_uloq,extraction,machine,replicate_id
0,6-MAM,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu,1
1,7-Aminoclonazepam,5.0,0.05,0.134,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu,1
2,7-Aminoflunitrazepam,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu,1
3,α-Hydroxyalprazolam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu,1
4,α-Hydroxytriazolam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5539,Temazepam,20.0,0.05,NaN,FB08SEP18,11:30,3,NaN,NaN,zach,waters,2
5540,Tramadol,20.0,0.05,0.980,FB08SEP18,11:30,3,0.0,0.0,zach,waters,2
5541,Trazodone,20.0,0.50,0.090,FB08SEP18,11:30,3,1.0,0.0,zach,waters,2
5542,Triazolam,20.0,0.50,NaN,FB08SEP18,11:30,3,NaN,NaN,zach,waters,2
5543,Zolpidem,20.0,0.50,NaN,FB08SEP18,11:30,3,NaN,NaN,zach,waters,2

In [25]:
# Analytes detected by the first waters
waters_set_1 = set(data[(pd.notnull(data.value)) & (data.machine == "waters") & (data.replicate_id == 1)].metabolite)

In [29]:
len(waters_set_1)

28

In [27]:
# Analytes dtected by the second waters
waters_set_2 = set(data[(pd.notnull(data.value)) & (data.machine == "waters") & (data.replicate_id == 2)].metabolite)

In [30]:
len(waters_set_2)

26

In [32]:
len(shimadzu_set)

22

In [35]:
len(waters_set_1.intersection(waters_set_2))

25

#### Display analytes detected by shimadzu

In [36]:
shimadzu_set

{'7-Aminoclonazepam',
 'Amphetamine',
 'Benzoylecgonine',
 'Codeine',
 'EDDP',
 'Hydrocodone',
 'Hydromorphone',
 'Ketamine',
 'MDMA',
 'Meprobamate',
 'Methadone',
 'Methamphetamine',
 'Morphine',
 'Norbuprenorphine',
 'Norhydrocodone',
 'Noroxycodone',
 'Oxazepam',
 'Oxycodone',
 'Oxymorphone',
 'Tapentadol',
 'Temazepam',
 'Tramadol'}

#### Display analytes detected by the first waters instrument

In [38]:
waters_set_1

{'7-Aminoclonazepam',
 'Amphetamine',
 'Benzoylecgonine',
 'Cocaine',
 'Codeine',
 'Cyclobenzaprine',
 'EDDP',
 'Hydrocodone',
 'Hydromorphone',
 'Ketamine',
 'MDMA',
 'Methadone',
 'Methamphetamine',
 'Methylphenidate',
 'Morphine',
 'Norbuprenorphine',
 'Norhydrocodone',
 'Noroxycodone',
 'O-Desmethyltramadol',
 'Oxazepam',
 'Oxycodone',
 'Oxymorphone',
 'Phentermine',
 'Pseudoephedrine',
 'Tapentadol',
 'Temazepam',
 'Tramadol',
 'Trazodone'}

#### Display analytes detected by the second waters machine

In [37]:
waters_set_2

{'7-Aminoclonazepam',
 'Amphetamine',
 'Benzoylecgonine',
 'Cocaine',
 'Codeine',
 'Cyclobenzaprine',
 'EDDP',
 'Hydrocodone',
 'Ketamine',
 'MDMA',
 'Meprobamate',
 'Methadone',
 'Methamphetamine',
 'Methylphenidate',
 'Morphine',
 'Norhydrocodone',
 'Noroxycodone',
 'O-Desmethyltramadol',
 'Oxycodone',
 'Oxymorphone',
 'Phentermine',
 'Pseudoephedrine',
 'Tapentadol',
 'Temazepam',
 'Tramadol',
 'Trazodone'}

###### Venn diagram creation: http://bioinformatics.psb.ugent.be/webtools/Venn/

## Analytes Grouping

#### Add metabolite group

In [3]:
data.head()

,metabolite,uloq,lloq,value,date,time_pretty,location,below_lloq,above_uloq,extraction,machine
0,6-MAM,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu
1,7-Aminoclonazepam,5.0,0.05,0.134,FB08SEP18,6:30,1,0.0,0.0,austin,shimadzu
2,7-Aminoflunitrazepam,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu
3,α-Hydroxyalprazolam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu
4,α-Hydroxytriazolam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,shimadzu

In [4]:
grouping_info = pd.read_csv("../data/drug_class.csv")

In [5]:
grouping_info.head()

           drug                   group
0         6-MAM  Metabolite of Narcotic
1  Propoxyphene               Analgesic
2      Ketamine              Anesthetic
3           PCP              Anesthetic
4   Phentermine               Anorectic

In [6]:
len(set(grouping_info.group))

20

In [7]:
def add_group(row):
#    print(grouping_info[grouping_info.drug==row.metabolite].group.iloc[0])
    return grouping_info[grouping_info.drug==row.metabolite].group.iloc[0]

In [8]:
data["metabolite_group"] = data.apply(lambda row: add_group(row),axis=1)

In [9]:
data["machine"] = (["Shimadzu"] * 56 + ["Waters_SPE1"] * 56 + ["Waters_SPE2"] * 56) * 33

In [10]:
data.head()

,metabolite,uloq,lloq,value,date,time_pretty,location,below_lloq,above_uloq,extraction,machine,metabolite_group
0,6-MAM,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,Shimadzu,Metabolite of Narcotic
1,7-Aminoclonazepam,5.0,0.05,0.134,FB08SEP18,6:30,1,0.0,0.0,austin,Shimadzu,Benzodiazepine
2,7-Aminoflunitrazepam,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,Shimadzu,Benzodiazepine
3,α-Hydroxyalprazolam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,Shimadzu,Metabolite of Benzodiazepam
4,α-Hydroxytriazolam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,Shimadzu,Metabolite of Benzodiazepam

In [11]:
data.sort_values(by=["time_pretty", "location", "machine", "metabolite_group"], inplace=True)

In [12]:
data.to_csv("../data/water_cleaned_group_sorted.txt", index=False, sep="\t")

#### Use mettabolite group instead of metabolite and deduplicate

In [ ]:
data = pd.read_csv("../data/water_cleaned.txt", delimiter="\t")

In [82]:
data['metabolite'] = data.apply(lambda row: add_group(row),axis=1)

In [130]:
data.head()

,metabolite,uloq,lloq,value,date,time_pretty,location,below_lloq,above_uloq,extraction,machine
0,Metabolite of a Narcotic,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,Shimadzu
1,Benzodiazepine,5.0,0.05,0.134,FB08SEP18,6:30,1,0.0,0.0,austin,Shimadzu
2,Benzodiazepine,5.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,Shimadzu
3,Metabolite of Benzodiazepam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,Shimadzu
4,Metabolite of Benzodiazepam,20.0,0.05,NaN,FB08SEP18,6:30,1,NaN,NaN,austin,Shimadzu

Algorithm: 
-   Create dataframe A by selecting rows with non-missing value in "value" column, then drop duplicates with columns of "metabolite", "time_pretty", "machine" and "location"; 
-   Create dataframe B by selecting rows with missing value in "value" column, then drop duplicates with columns of "metabolite", "time_pretty", "machine" and "location";
-   Append B to A, then then drop duplicates with columns of "metabolite", "time_pretty", "machine" and "location", keep the first duplicated row.

In [134]:
data_with_value = data[data.value.notnull()]

In [135]:
data_with_value.shape

(856, 11)

In [136]:
data_with_value.drop_duplicates(subset=["metabolite", "time_pretty", "machine", "location"], inplace=True)

/Users/xinsongdu/.pyenv/versions/miniconda3-latest/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [137]:
data_with_value.shape

(692, 11)

In [138]:
data_no_value = data[data.value.isnull()]

In [139]:
data_no_value.shape

(4688, 11)

In [140]:
data_no_value.drop_duplicates(subset=["metabolite", "time_pretty", "machine", "location"], inplace=True)

/Users/xinsongdu/.pyenv/versions/miniconda3-latest/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [141]:
data_no_value.shape

(1949, 11)

In [142]:
data_modified = data_with_value.append(data_no_value)

In [147]:
data_modified.head()

,metabolite,uloq,lloq,value,date,time_pretty,location,below_lloq,above_uloq,extraction,machine
1,Benzodiazepine,5.0,0.05,0.134,FB08SEP18,6:30,1,0.0,0.0,austin,Shimadzu
6,Stimulant,5.0,0.05,0.322,FB08SEP18,6:30,1,0.0,0.0,austin,Shimadzu
7,Metabolite of CNS stimulant,20.0,0.05,1.307,FB08SEP18,6:30,1,0.0,0.0,austin,Shimadzu
20,Opioid,2.5,0.05,0.368,FB08SEP18,6:30,1,0.0,0.0,austin,Shimadzu
38,Metabolite of opioid,5.0,0.05,0.231,FB08SEP18,6:30,1,0.0,0.0,austin,Shimadzu

In [144]:
data_grouped = data_modified.drop_duplicates(subset=["metabolite", "time_pretty", "machine", "location"], keep="first")

In [145]:
data_grouped.shape

(2277, 11)

In [150]:
data_grouped.sort_values(by=["time_pretty", "machine", "location", "metabolite"], inplace=True)

/Users/xinsongdu/.pyenv/versions/miniconda3-latest/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [151]:
data_grouped.to_csv("../data/water_cleaned_grouped.txt", index=False, sep="\t")